#root {
  /*max-width: 1280px;*/
  width: 100%;
  padding: 5em;
  text-align: center;
    background: mediumslateblue;
    color: black;
}

div.Newts {
    display: flex;
    width:50%;
    margin:auto;

}


figure.homeNewt {
    background-image: radial-gradient(circle, indianred, teal);
    border-radius: 50%;

}


figure.homeNewt img {
    max-width: 300px;
    width:100%;


}
figure.imageShow img {
    max-height: 500px;
    height:100%;
}

span.strong {
    font-weight: bold;
    padding-right: 1em;
    color: indianred;
}