#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 5em;
  text-align: center;
    background: mediumslateblue;
    color: black;
}


figure.homeNewt {
    background-image: radial-gradient(circle, indianred, teal);
    border-radius: 50%;

}

figure.homeNewt img {
    max-width: 300px;

}