#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 5em;
  text-align: center;
    background: mediumslateblue;
    color: black;
}

.App {
    background:rgb(0, 55, 55);
    display: flex;
}
figure.homeNewt {
    background-image: radial-gradient(circle, indianred, teal);
    border-radius: 50%;

}

figure.homeNewt img {
    max-width: 300px;

}